body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 0px;
    background-color: #fff4f0;
    color: #333;
}

.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 100px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #97342b; 
    margin-bottom: 20px;
}

a {
    color: #97342b;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #330b07; 
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
}

html,
body {
    scroll-behavior: smooth;
}

/* After 50px of scrolling, show the button. */
.top {
    /* variabila globala - setez valoare fixa de decalaj fata de partea de sus a paginii */
    --offset: 50px;

    /* ramane fixat la o pozitie data cand este derulat pana la acea pozitie  */
    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    /* aseaza elementul la finalul grid-ului */
    place-self: end;

    /* calculeaza o margine superioara care incepe dupa inaltimea vizibila a paginii (100vh)
       si adauga decalajul definit de variabila --offset
       asigura ca butonul apare doar când se derulează o anumita parte a paginii */
    margin-top: calc(100vh + var(--offset));

    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background: #d68f8f;
    border-radius: 100px;
    white-space: nowrap;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #97342b, #330b07);
}

.top:hover {
    background: linear-gradient(45deg, #330b07, #97342b);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    color:#ffffff;
}